﻿@model MyDegree.Models.Degree

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Degree</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.DegreeAbbrev) </dt>
        <dd>@Html.DisplayFor(model => model.DegreeAbbrev) </dd>
        <dt>@Html.DisplayNameFor(model => model.DegreeName) </dt>
        <dd>@Html.DisplayFor(model => model.DegreeName)</dd>
        <dt>@Html.DisplayNameFor(model => model.DegreeRequirements)  </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Number</th>
                    <th>Abbrev</th>
                    <th>Requirement Name</th>
                </tr>
                @foreach (var item in Model.DegreeRequirements.OrderBy(r => r.RequirementNumber))
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.RequirementNumber) </td>
                        <td>@Html.DisplayFor(modelItem => item.RequirementAbbrev) </td>
                        <td>@Html.DisplayFor(modelItem => item.RequirementName)   </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DegreeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
